.movieList {
  background-image: url("https://www.google.com/search?q=img&rlz=1C1CHBF_frTN921TN921&sxsrf=ALeKk022YwJe1h2We5-RU6qdPYzxp-KLwg:1614011559583&tbm=isch&source=iu&ictx=1&fir=GDgToFW06pW1uM%252ChFtYl-FEX25j5M%252C_&vet=1&usg=AI4_-kQTImk_gpInUILlb9Au1UOgn26xHw&sa=X&ved=2ahUKEwj4_6_N9f3uAhUnuqQKHZxEBYoQ9QF6BAgEEAE#imgrc=GDgToFW06pW1uM");
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5%;
}
